@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', serif;
}
.sec__h1{
    margin-bottom: 1.3em;
    text-align: center;
    font-size: 37.5px;
    width: 80%;
    margin: auto;
}
.slider {
    width: 100%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px; 
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
h1, h2, h3, h4, h5, p, span{
    font-weight: 600;
    font-family: 'Lato', serif;
}
.menu{
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 35px;
}


a{
    text-decoration: none;
}
.navigation__item{
    font-family: 'Lato', serif;
    padding: .075rem .75rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.navigation__item_blue{
        border-bottom: solid 1px black;
    border: 1px solid transparent;
    padding: .075rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #fff;
    background-color: #00aef1;
}


.navigation{
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.navigation__item:hover{
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 5px;
    color: white;
}

.check{
    display: none;
}

.sec1{
    background-image: url(img/phone1);
}
.sec1__row
{
    width: 40%;
    margin: 1% 11%;}
    .sec1__h1
    {
        color: #0d6efd;
    font-size: 4vw;
    margin-bottom: 1em;
    }
    .sec1__p
    {
        font-size: 1.7rem;
        margin-bottom: 2.1em;
    }
.sec1__btn
{
    border: 1px solid transparent;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.sec1__btn a{
    color:#fff
}
body {font-family: Arial, Helvetica, sans-serif;}

.mybtn img{
    position: absolute;
    top: 17px;
    width: 48px;
    height: 64px;
    left: 25px;
}
.mybtn {
    margin-left: 183%;
    background-color: rgba(47, 79, 79, 0);
    color: white;
    
    cursor: pointer;
    width: 100px;
    position: relative;
    height: 100px;
    border-radius: 66%;
    border: solid 1px black;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    /* border: 5px solid #7B1FA2; */
    width: 80%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    position: absolute;
    right: 2%;
    top: 2px;

    color: #9e9e9e;
    float: right;
    font-size: 73px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 27px 16px;
    /* background-color: #9C27B0; */
    color: #0d6efd;
    text-align: center;
}
.modal-header h1
{
    
    font-size: 37.5px;
}
.modal-body p
{
        margin-bottom: 1.3em;
    font-size: 1.3em;
}
.red{
    color: red;
}
.modal-body 
{
    width: 80%;
    margin: auto;
    padding-right: 10%;
    padding-bottom: 2em;
    padding-left: 10%;
}
.close__btn{
    cursor: pointer;
    /* width: 30%; */
    height: 40px;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin-left: 70%;
    padding: 1em 3em;
    position: relative;
}
.mb6{
    margin-bottom: 11vw;
}
.row{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.row__sec2Item{
    width: 50%;
}
.row__sec2Item img{
    width: 100%;
}
.sec2{
    padding: 0 11%;
}

.row__sec2Item2
{
    margin-left: 15%;
}
.sec5
{
    padding: 5% 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-radius: 5%;
}
.sec5__h1
{
    
    margin-bottom: 1rem;
    font-size: 37.5px;
    text-align: center;
    color: #235690;
}
.sec5__h3
{
    font-weight: 500;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 3.2em;
}

.blue{
color: #0d6efd;
}
.row__sec5Item1
{
    width: 106%;
}
.row__sec5Item2
{
    
    font-weight: 600; 
    margin-left: 4%;
    
    padding: 26px 0;
    
}
.row__sec5Item1 img
{
    border-radius: 26%;
    width: 100%;
}
hr{
    width: 23%;
    height: 1px;
    background-color: black;
    /* border-radius: 8%; */
    border-width: 0px;
    margin: 5% 0px;

}
.row__sec5Item2 h1
{
    font-weight: 600;
    margin-left: 4%;
    font-size: 28px;
}
.row__sec6Item1
{
    margin: 2% 3%;
    width: 20%;
}
.number{
    color: #57a7c685;
    font-size: 6.5em;;
}
.row__sec6Item1 h2
{
    color: #0194cc;
    font-size: 28px;}
.row__sec6Item1 p
{
    font-weight: 400;
    font-size: 16px;
    height: 237px;
    display: flex;
    align-items: center;
}
.row__sec6Item1 img
{
    width: 100%;
    height: 313px;

    border-radius: 18px;
}
.row__sec6Item7
{
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    margin: 2% 3%;
    width: 70%;
}
.sec6Item7__text
{
    width: 100%;
    padding: 3%;
}

.row__sec6Item7 h2
{
    color: #0194cc;
    font-size: 28px;
}
.row__sec6Item7 p
{
    font-weight: 400;
    font-size: 1em;
    display: flex;
    align-items: center;
}
.sec6Item7__img
{
    background-image: url(img/prim7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
    width: 100%;
    height: 222px;
}
.rowSec6{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 3vw auto;
}
.sec7{
margin: 64px 0}
.sec7__item{
    width: 18%;
    margin: 33px;
    
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.sec7__item__head{
    border-bottom: #9e9e9e;
    background-color: #ebe5e5;
    width: 100%;
    padding: 20px 15px;
    text-align: center;
}
.sec7__item__head h4{
    font-weight: 800;
    margin-bottom: 10px;
}
.sec7__item__head p{
    color: #0d6efd;
    font-size: 13px;
}
.sec7__item__cnt{
    padding-bottom: 15px;
    text-align: center;
}
.sec7__item__cnt p{
    color: #9e9e9e;
    font-weight: 500;
}
.sec7__item__cnt hr{
    margin: 10px auto;
    width: 70%;
    background-color: #9e9e9e;
}
.sec7__item__cnt img{
      width: 90%;
      
}
.sec7Items{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sec8{
    margin: 5% 0 10% 0;
    width: 100%;
}
.sec8 p{
    margin: 4% auto;
    width: 80%;
    font-size: 21px;
    font-weight: 500;
}
.sec8 p span
{
    font-weight: 600;
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 80vh;
   
}
.slide{
    border-radius: 20px;
    height: 80vh;
    margin: 10px;
    cursor: pointer;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 500ms ease-in-out;
}
.slide-active{
    flex: 8;
}
.sec9{
    padding: 8% 4%;
    background-color: #f4f9fd;
}
.sec9__h1
{
    padding-bottom: 4%;
    color: #155bcd;;
   
    text-align: center;
    font-size: 37.5px;
    width: 50%;
    margin: auto;
}
.sec9__btn{
    border: 1px solid transparent;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border-radius: 11px;
        color: #fff;
    background-color: #10c973;
    border-color: #10c973;
}
.sec9__item
{
    width: 40%;
}
.sec9__item img{
    width: 50%;
    margin: auto;
}

.sec9Items{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sec9__item2
{
    padding: 0px 2% 0 2%;
}
.sec9__item2 p{
    margin: 1% 0 9% 0;
        font-weight: 500;
    color: #3e77dd;
}
.sec9__item2 button
{
    margin: 0 12%
}
.sec10Items{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
   
}
.sec10__item
{
    
    margin: 5%;
    width: 40%;
    text-align: center;   
}
.sec10__item img{
    margin: 30px 0;
   
}
.sec10__item .img1{
    width: 120px;
   
}
.sec10__item .img2{
    width: 88px;
   
}
.sec10
{
    padding: 10% 0px;
}
.hr2{
    background-color: #0194cc;
    width: 90%;
    margin: auto;
}
.sec11{
    padding: 10%;
}
.sec11__text{
margin-top: 5%;
}
.sec11__text h5{
    font-weight: 600;
}
.sec11__text p{
    font-weight: 400;
    font-size: 15px;
   
}

input{
    text-align: center;
    border-width: 0;
    outline: none;
    margin: auto;
    /* width: 100%; */
    padding: 17px 43px;
        background: #e6e6e6;
    margin-bottom: 15px;
}
form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 6% auto;
}
form button{
    border: 1px solid transparent;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    width: 160px;
    margin: auto;
    margin-bottom: 8px;
}
form h1{
    padding-bottom: 4%;
    text-align: center;
    font-size: 21px;
    width: 72%;
    margin: auto;
    font-weight: 500;
}
.footer{
    width: 100%;
    background-color: #152e42;
    padding: 40px 0;
}
.footer__item
{
    padding: 0 29px;}
.footer__a
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer__items
{
    display: flex;
    width: 70%;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.class__li1{
    margin-left: 15px;
    color: #8c979e;
    line-height: 38px;

}
.footer__item h5{
    color: white;
}

.class__li li

{ 
    color: #9e9e9e;
        list-style: none;
        margin-bottom: 14px;
}
.class__li li a

{ 
    color: #9e9e9e;
}
.footer__left{
    flex: 1;
    text-align: center;
}
.container1{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.li__span
{
    display: flex;
}

@media (max-width:1000px){
        .row__sec6Item1 {
            margin: 2% 3%;
            width: 26%;
        }
        .sec7__item{
            width: 24%;}
    }
    @media (max-width:750px){
        .footer__item1{
            display: none;

        }
        .sec7__item{
            width: 31%;}
    .modal-header h1
    {
        width: 63%;
    }
    .close__btn
    {
        margin-left: 0;
    }

    .row, .sec9Items, .rowSec6, .li__span, .footer__items {
        flex-direction: column;
    }
    .row__sec2Item{
        width: 100%;
    }
    .sec__h1, .sec5__h1, .sec9__h1, .sec1__h1,  .modal-header h1{
        font-size: 30px;
        margin: auto;
    width: 90%;
    }
    .row__sec5Item2 h1{
        font-size: 19px;
    }
    .sec1__row {
        width: 69%;
        margin: 6% auto;
} 
    .mybtn {
        // margin: 10% 0
        margin-left: 0;
        margin-top: 10%;
    }
    .sec9__item img {
        width: 69%;
        margin: 15%;
    }
    .sec9__item {
        width: 77%;
    }
.navigation{
        display: none;
    }
    .hambruger span{
        background-color: black;
        height: 2px;
        width: 23px;
        color: black;
        display: flex;
        margin-top: 6px;
    }
    
    .navigation__item
    {
        font-family: "Lato", serif;
    
        justify-content: flex-start;
        align-items: center;
        color: black;
        align-content: center;
        margin: 15px;
        font-weight: 600;
        padding-left: 20px;
    }
    .navigation__item_blue
    {
        background-color: #ffffff;
    border-color: #ffffff;
    font-family: "Lato", serif;
    justify-content: flex-start;
    align-items: center;
    color: black;
    align-content: center;
    margin: 15px;
    font-weight: 600;
    padding-left: 20px;
    }
    #hambruger:checked~ .navigation{
        display: block;
        width: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 116px;
    background-color: white;
    }
    .row__sec6Item1
    {
        display: flex;
    width: 70%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
    .row__sec6Item1 img{
        width: 200px;
    }
    .row__sec6Item1 p{
        height: max-content;
    }
    .row__sec6Item1
    {
        width: 70%;
        margin: auto; 
    }
    row__sec5Item2 {
        margin: 20px 0;}
}
@media (max-width:500px){
    .footer__left{
        margin-bottom: 15px;
    }
.row_sec__text, .row__sec6Item7
{
    text-align: center;
    margin-bottom: 22px;
   
}
.row__sec6Item1, .row__sec6Item7, .sec10Items, .container1
{
    flex-direction: column;
}
.row__sec6Item1 img

{
    height: 278px;
    width: 177px;
}

    .sec7__item{
        width: 71%;
    }
  
     .sec1__h1, .sec1__row{
        text-align: center;
     }
     .sec1__p{
         
    font-size: 21px;
     }
     .sec1__row {
        width: 80%;}
    .sec__h1, .sec5__h1, .sec9__h1, .sec1__h1, .modal-header h1 {
     font-size: 26px;}
     .sec8 p {
         font-size: 16px;
     }
    .slide
     {
        margin: 2px;
     }

    }
    .glide__slide--active{
     border-bottom: 10px solid black;
    }